<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="databaseConnectionString" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\10010034\Test\WebAPIParking\WebAPIParking\AppData\LocalDB.mdf;Integrated Security=True" />	
	</appSettings>
</configuration>